* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff ; 
}


/* Inicio header */

header {
    height: 60px;
}



.flex-conteiner {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 100%;

}

.flex-conteiner a {
    text-decoration: none;
}

#Letra-logo {
    font-family: 'Gloria Hallelujah', cursive;
    width: 30%;
}

h1 {
    color: #000000;
}


.flex-item {
    width: 60%;
    height: 100%;
}

.flex-item ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: auto;
}

.flex-item ul li {
    display: inline-block;
    padding: 10px 15px;
}

.flex-item ul li a {
    color: rgb(0, 0, 0);
    margin: 0px 10px;
    font-family: 'Bebas Neue', cursive;

}

@media {
    (min-width: 300px 640px; )
    
    
    .flex-conteiner
    .flex-item
    #Letra-logo
}

/* Fin header */

/* Inicio main */

main {
    width: 100%;
    height: 100%;
}
@media{
    (min-width: 360px ;)
    main
}

/* Inicio banner */

.banner {
    position: relative;
    display: block;
    width: 100%;
    height: 50vh;
}

.banner .wrapper {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.banner img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.8;
}

@media{
    (min-width: 360px;)

    .banner .wrapper
    #family.font
}

/* Fin banner */

/* Inicio articulos */

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #000000;

}

/* Articulos */

/* div article div {
    width: 50%;
    margin: 10%;
    position: relative;

} */

.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr ;
    gap: 20px;
    
}
/*div article {
    display: flex;
}*/


/*.mediana{
    width: 55%;
}*/ 

article div img:hover {
    overflow: hidden;
    opacity: 0.8;
    border-radius: 10px;
    transition: all 2s;
    transform: scale(1.2);
}

a img{
    width:75%;
    margin: 30px;
    padding: 10px;
}



/* .imagenes-flex{
    display: flex;
    flex-grow:;
} */

.letra-articulos {
    color: #ffffff;
    position: absolute;
    left: 20%;
    top: 45%;
    transform: translate(-30%, -35%);
    font-size: 50px;
    z-index: 1;
}

.letra-articulos-1{
    color: #ffffff;
position: absolute;
left: 8%;
top: 35%;
transform: translate(-8%, -10%);
font-size: 40px;
z-index: 1;

}

@media{
    (min-width: 360px;)
    .grid-container .item-1
    .item-2
    .item-3
    .item-4
}

/* Inicio footer */

footer {
    color: #ffffff;
    background-color: #332704;
    width: 100%;
    bottom: 0;
    padding: 30px;
}

.footer div{
    display: flex ;
    justify-content: center;
}

div a svg {
    color: #ffffff;

    padding: 0;
    margin: 5px;
    display: inline-block;

}